<section class="content">
  
      <h1>Crafting Digital Experiences That Inspire</h1>
      <p>
        At <strong>PixelForge</strong>, we don’t just build websites—we create immersive digital experiences. 
        From sleek design to seamless functionality, we turn ideas into reality. 
        Whether you're a startup looking to make an impact or a brand in need of a digital revamp, 
        we bring innovation, creativity, and technical excellence to every project.
      </p>
      <a href="#contact" class="cta-button">Let's Build Something Amazing</a>
      
      <br>
      <p>Find us on our socials:</p>

      <div class="social-buttons">
  
        <a [attr.href]="'https://www.whatsapp.com'" target="_blank" rel="noopener noreferrer">
        <button class="social-button" id="whatsapp">
          <fa-icon [icon]="faWhatsapp" size="2x"></fa-icon>
        </button>
        </a>
        <a [attr.href]="'https://www.instagram.com'" target="_blank" rel="noopener noreferrer">
        <button class="social-button" id="instagram">
          <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
        </button>
        </a>
        <a [attr.href]="'https://www.github.com'" target="_blank" rel="noopener noreferrer">
        <button class="social-button" id="github">
          <fa-icon [icon]="faGithub" size="2x"></fa-icon>
        </button>
        </a>
        <a [attr.href]="'https://www.youtube.com'" target="_blank" rel="noopener noreferrer">
        <button class="social-button" id="youtube">
          <fa-icon [icon]="faYoutube" size="2x"></fa-icon>
        </button>
        </a>

      </div>
    
</section>