<section class="content">
  
      <h1>Crafting Digital Experiences That Inspire</h1>
      <p>
        At <strong>WebDreams</strong>, we don’t just build websites—we create immersive digital experiences. 
        From sleek design to seamless functionality, we turn ideas into reality. 
        Whether you're a startup looking to make an impact or a brand in need of a digital revamp, 
        we bring innovation, creativity, and technical excellence to every project.
      </p>
      <a href="#contact" class="cta-button">Let's Build Something Amazing</a>
      
      <br>
      <p> Find us on our socials:</p>

      <div class="social-buttons">
  
        <a [attr.href]="'https://www.whatsapp.com'" target="_blank" rel="noopener noreferrer">
          <button class="social-button" id="whatsapp">
            <fa-icon [icon]="faWhatsapp" size="2x"></fa-icon>
          </button>
        </a>
        <a [attr.href]="'https://www.instagram.com'" target="_blank" rel="noopener noreferrer">
          <button class="social-button" id="instagram">
            <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
          </button>
        </a>
        <a [attr.href]="'https://www.github.com'" target="_blank" rel="noopener noreferrer">
          <button class="social-button" id="github">
            <fa-icon [icon]="faGithub" size="2x"></fa-icon>
          </button>
        </a>
        <a [attr.href]="'https://www.youtube.com'" target="_blank" rel="noopener noreferrer">
          <button class="social-button" id="youtube">
            <fa-icon [icon]="faYoutube" size="2x"></fa-icon>
          </button>
        </a>
      </div>

      <div class="textdivider1">

        <div class="servicesCard">
          <div id="servicecard1">
          </div>
          <div class="serviceTitle">
              <p> 
                POSIZIONAMENTO SITI WEB
              </p>
          </div>
          <div class="serviceText">
            <p class="svtextint"> 
              
						Scala la classifica dei motori di ricerca: posizionamento siti web, link building, ottimizzazione e consulenza SEO.
            </p>
          </div>
        </div>
        
        <div class="servicesCard">
          <div id="servicecard2">
          </div>
          <div class="serviceTitle">
            <p> 
              NEGOZI ONLINE
            </p>
        </div>
        <div class="serviceText">
          <p class="svtextint"> 
            
						Creiamo il tuo negozio online utilizzando tutte le più moderne tecnologie, espandi il tuo business in modo professionale.
					
          </p>
        </div>
        </div>
       
        <div class="servicesCard">
          <div id="servicecard3">
          </div>
          <div class="serviceTitle">
            <p> 
              CREAZIONE SITI WEB
            </p>
        </div>
        <div class="serviceText">
          <p class="svtextint"> 
        
						Dal sito vetrina al portale: sviluppiamo siti web su misura aggiornabili, veloci, mobile e con zero costi di mantenimento.
					
          </p>
        </div>
        </div>

      </div>

      <div class="richText">
        <p>"In today's digital age, having a website is not just an option, it's a necessity. It serves as your online storefront,
          offering a 24/7 presence that allows you to reach a global audience, build trust, 
          and showcase your products or services. Whether you're a business, an artist, or an entrepreneur,
           a website is the cornerstone of your digital identity, creating opportunities for growth 
           and connection in an ever-evolving online world."
        </p>
      </div>
    
    
</section>